*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---Nav---*/
.nav-main{
    font-size: 18px;
    display: flex;
    height: 60px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    background: lightcoral;
    margin-bottom: 8px;
}
.nav-main ul{
    display: flex;
    list-style: none;
}
.nav-main ul li{
    display: flex;
    background: white;
}
.nav-main ul li a{
    text-decoration: none;
    height: 60px;
    text-align: center;
    padding: 20px;
    color: black;
    font-weight: bold;
    transition: .25s ease all;
    background: lightcoral;
}
.nav-main ul li a:hover{
    transform: translateY(10px);
    letter-spacing: 2px;
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 20px;
    z-index: 2;
    font-size: 2rem;
    display: none;
}

@media (max-width: 720px){
    .menu-btn{
        display: block;
    }
    .nav-main{
        display: block;
        margin-bottom: 2px;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #333333;
        transform: translate(-300px);
        transition: transform .5s ease-in-out;
        padding: 0px;
        opacity: 1;
        z-index: 1;
        height: 100%;
        width: 250px;
        background: lightcoral;
        border-right: 1px solid black;
    }
    .nav-main ul li{
        border-bottom: 1px solid black;
        padding: 0;
    }
    .nav-main ul li a{
        width: 100%;
        font-size: 1.2em;
    }
    .nav-main ul li a:hover{
        transform: translateX(0px);
        letter-spacing: 0px;
    }

    .nav-main ul.nav-menu.show{
        transform: translate(-20px);
    }
}

/*---Contenedor principal---*/
.contenedor{
    min-height: calc(100vh - 86px);
    display: flex;
    justify-content: space-around;
}
/*---Pedido---*/
h1{
    font-size: 30px;
    margin-left: 5px;
}
.pedido-main{
    display: flex;
    min-height: 100%;
    width: 33%;
    min-width: 320px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid lightcoral;
    border-radius: 20px;
    margin-bottom: 4px;
}
.pedido-head{
    padding: 0px;
    min-width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightcoral;
}
.pedido-main .tabla{
    padding: 10px;
    height: 100%;
    width: 100%;
    position: relative;
}
.pedido-main .tabla h2{
    margin-bottom: 20px;
}
.pedido-main table{
    width: 100%;
}
.pedido-main table td{
    font-size: 1.5em;
    padding-bottom: 2vh;
    border-bottom: 1px dashed black;
}
.btn{
    padding: 18px;
    width: 100px;
    background: lightblue;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
}
.btn-atras{
    padding: 18px;
    width: 100px;
    background: lightblue;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
}
.btn:hover,
.btn-atras:hover{
    background: blue;
    color: white;
}
@media (max-width: 720px){
    .contenedor{
            min-height: calc(100vh - 80px);
    }
    .pedido-main{
        display: flex;
        min-height: 100%;
        width: 95%;
        min-width: 320px;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid lightcoral;
    }
    h1{
        font-size: 25px;
        margin-left: 20px;
    }
    h2{
        font-size: 20px;
        margin-left: 20px;
    }
    .pedido-main table td{
        font-size: 1.2em;
        padding-bottom: 10px;
    }
}
/*---footer---*/
.footer{
    background: lightcoral;
    color: white;
    text-align: center;
    display: block;
}
.footer-mini{
    background: lightcoral;
    color: white;
    text-align: center;
    display: none;
}
@media (max-width: 720px){
    .footer{
        display: none;
    }
    .footer-mini{
        display: block;
    }

}